
<div class="container">
  <form>
    <h3>Online Booking / Place An Order</h3>
    <div class="col-md-5">
      <div class="row"> 
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control">
        </div>    
      </div>
      <div class="form-group">
        <div class="row">     
          <label>City</label>
          <input type="text" class="form-control">
        </div>      
      </div>
      <div class="row"> 
        <div class="form-group">
          <label>age</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="row"> 
        <div class="form-group">
          <label>Mobile No</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="row">      
        <div class="form-group">
          <label>Date Interested</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="row">      
        <div class="form-group">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-2">
                <label>Mode</label>
              </div>
              <div class="col-md-4">
                <div class="col-md-2">
                  <input type="radio" name="check"><br>
                </div>
                <div class="col-md-2">
                  <label>Cash</label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="col-md-2">
                  <input type="radio" name="check"><br>
                </div>
                <div class="col-md-2">
                  <label>Finance</label>
                </div>
              </div>
              <div class="col-md-offset-3 col-md-4">
                <select>
                  <option value="volvo">-Select-</option>
                  <option value="volvo">10000-20000</option>
                  <option value="saab">20000-30000</option>
                  <option value="mercedes">30000-40000</option>
                  <option value="audi">40000-50000</option>
                  <option value="audi">50000 and above</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="row"> 
      <div class="form-group">
          <label>Model:</label>           
          <select name="model" size="1" class="input1" id="model"> 
            <option value="select" selected="">Select</option>
            <option>CT 100</option>
            <option>PLATINA </option>
            <option>Discover 125 </option>
            <option>V 12 </option>
            <option>V 15</option>
            <option>PULSAR 135 LS</option>
            <option>PULSAR 150</option>
            <option>PULSAR 180</option>
            <option>PULSAR 220</option>
            <option>PULSAR 200 NS</option>
            <option>PULSAR 220 RS</option> 
            <option>AVENGER 150 STREET</option>
            <option>AVENGER 220 CRUISE</option>
            <option>AVENGER 220 STREET</option>
            <option>DOMINAR</option>
          </select>
        </div>
      </div>
      <div class="row">     
        <div class="form-group">
          <label>Color</label>
          <input type="text" class="form-control">
        </div>  
      </div>
      <div class="row">   
        <div class="form-group">
          <button class="btn btn-primary btn-block form-control">Submit</button>
        </div>
      </div>
    </div>
    <div class="col-md-7 bikebook">
      <%= image_tag "online-bike-booking.png", class: "img-responsive" %>
    </div>
  </div>
</form>
</div>

<style type="text/css">
  .bikebook
  {margin-top: 7%;}

</style>